main header{
    padding-left: 20px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

.image-row {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    background-color: lightblue;
}

.image-row figure{
    text-align: center;
    /* fits caption to content as
    caption can scale/wrap while
    image cannot */
    max-width: min-content;
}

.image-row figure img{
    height: 200px;
}
.image-row figcaption {
    max-width: 100%;
}


