main {
    text-align: center;
    align-items: center;
}

main ul {
    padding-inline-start: 0px;
}
main li {
    vertical-align: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    max-width: 25vw;
    min-width: fit-content;
    background-color: #AED9E0;
    /* border: 1px solid lightgrey; */
    border-radius: 20px;
}

main ul a{
    text-decoration: none;
    color: black;
}