main {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    background-color: #AED9E0;
    padding: 10px;
    padding-bottom: 20px;
    flex: 1 1 0;
    min-width: 250px;
    /* flex-basis: content; */
    margin: 10px;
}

article a {
    color: #000000;
}
