html {
    background-color: antiquewhite;
}

header {
    font-family: Didot, Times, serif
}

body {
    font-family: Verdana, sans-serif
}
.main-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    background-color: slategray;
    padding-left: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    color: slategray;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
}

.media-links {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-links img {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    width: fit-content;
    grid-column-start: 3;
    padding-right: 25px;
}

nav li{
    display: inline;
    padding: 10px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

a:hover {
    color: pink;
}

main a[href*="github"]{
    background: url("../images/GitHub-Mark-120px-plus.png") no-repeat left center;
    background-size: contain;
    padding-left: 25px;
}