header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    background-color: slategray;
}

footer {
    background-color: slategray;
}

nav {
    width: fit-content;
    grid-column-start: 3;
    padding-right: 25px;
}

nav li{
    display: inline;
    padding: 10px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

nav li a:hover{
    color: pink
}